@{
    ViewData["Title"] = "Dishes";
}

@model List<Dish> 

<div class="dataContainer">
    <div class="headerContainer">
        <a href="/">Chefs</a>
        <a href="/dishes">Dishes</a>
        <a href="/dishes/new"> Add a Dish</a>
    </div>
    <h3>Yum, take a look at our tasty dishes!</h3>
    <hr>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Chef</th>
                <th>Tastiness</th>
                <th>Calories</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var dish in Model)
            {
            <tr>
                <td>@dish.Name</td>
                <td>@dish.Creator.FirstName @dish.Creator.LastName</td>
                <td>@dish.Tastiness</td>
                <td>@dish.Calories</td>
            </tr>
            }
        </tbody>
    </table>
</div>
